[submodule ".vim/pack/plugins/sources/vim-polyglot"]
	path = .vim/pack/plugins/sources/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot/
[submodule ".vim/pack/plugins/sources/vim-commentary"]
	path = .vim/pack/plugins/sources/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/plugins/sources/salt-vim"]
	path = .vim/pack/plugins/sources/salt-vim
	url = https://github.com/saltstack/salt-vim
[submodule ".vim/pack/plugins/sources/vim-sensible"]
	path = .vim/pack/plugins/sources/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule ".vim/pack/plugins/sources/vim-fugitive"]
	path = .vim/pack/plugins/sources/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/plugins/sources/vim-dispatch"]
	path = .vim/pack/plugins/sources/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule ".vim/pack/plugins/sources/vim-git"]
	path = .vim/pack/plugins/sources/vim-git
	url = https://github.com/tpope/vim-git
[submodule ".vim/pack/plugins/sources/vim-apathy"]
	path = .vim/pack/plugins/sources/vim-apathy
	url = https://github.com/tpope/vim-apathy
[submodule ".vim/pack/plugins/sources/vim-speeddating"]
	path = .vim/pack/plugins/sources/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule ".vim/pack/plugins/sources/vim-repeat"]
	path = .vim/pack/plugins/sources/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/pack/plugins/sources/vim-unimpaired"]
	path = .vim/pack/plugins/sources/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule ".vim/pack/plugins/sources/vim-jdaddy"]
	path = .vim/pack/plugins/sources/vim-jdaddy
	url = https://github.com/tpope/vim-jdaddy
[submodule ".vim/pack/plugins/sources/ale"]
	path = .vim/pack/plugins/sources/ale
	url = https://github.com/dense-analysis/ale
[submodule ".vim/pack/plugins/sources/gist-vim"]
	path = .vim/pack/plugins/sources/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule ".vim/pack/plugins/sources/webapi-vim"]
	path = .vim/pack/plugins/sources/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule ".vim/pack/plugins/sources/vim-pathogen"]
	path = .vim/pack/plugins/sources/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/pack/plugins/sources/vim-airline"]
	path = .vim/pack/plugins/sources/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/plugins/sources/vim-monokai-tasty"]
	path = .vim/pack/plugins/sources/vim-monokai-tasty
	url = https://github.com/patstockwell/vim-monokai-tasty
[submodule ".vim/pack/plugins/sources/vim-go"]
	path = .vim/pack/plugins/sources/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/pack/plugins/sources/fzf.vim"]
	path = .vim/pack/plugins/sources/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/pack/plugins/sources/fzf"]
	path = .vim/pack/plugins/sources/fzf
	url = https://github.com/junegunn/fzf
[submodule ".config/nvim/pack/plugins/sources/vim-polyglot"]
	path = .config/nvim/pack/plugins/sources/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot/
[submodule ".config/nvim/pack/plugins/sources/vim-airline"]
	path = .config/nvim/pack/plugins/sources/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".config/nvim/pack/plugins/sources/vim-monokai-tasty"]
	path = .config/nvim/pack/plugins/sources/vim-monokai-tasty
	url = https://github.com/patstockwell/vim-monokai-tasty
[submodule ".config/nvim/pack/plugins/sources/vim-go"]
	path = .config/nvim/pack/plugins/sources/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".config/nvim/pack/plugins/sources/coc.nvim"]
	path = .config/nvim/pack/plugins/sources/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule ".config/nvim/pack/plugins/sources/gruvbox"]
	path = .config/nvim/pack/plugins/sources/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule ".config/nvim/pack/plugins/sources/fzf"]
	path = .config/nvim/pack/plugins/sources/fzf
	url = https://github.com/junegunn/fzf
[submodule ".config/nvim/pack/plugins/sources/fzf.vim"]
	path = .config/nvim/pack/plugins/sources/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/pack/plugins/sources/coc.nvim"]
	path = .vim/pack/plugins/sources/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule ".vim/pack/plugins/sources/gruvbox"]
	path = .vim/pack/plugins/sources/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule ".vim/pack/plugins/sources/vim-airline-themes"]
	path = .vim/pack/plugins/sources/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/pack/plugins/sources/nord-vim"]
	path = .vim/pack/plugins/sources/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
[submodule ".vim/pack/plugins/sources/nerdtree"]
	path = .vim/pack/plugins/sources/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule ".vim/pack/plugins/sources/nerdtree-git-plugin"]
	path = .vim/pack/plugins/sources/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule ".vim/pack/plugins/sources/vim-devicons"]
	path = .vim/pack/plugins/sources/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule ".vim/pack/plugins/sources/rust.vim"]
	path = .vim/pack/plugins/sources/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule ".vim/pack/plugins/sources/syntastic"]
	path = .vim/pack/plugins/sources/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule ".vim/pack/plugins/sources/vim-rhubarb"]
	path = .vim/pack/plugins/sources/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
