[user]
	name = Daniel Graña
	email = dangra@gmail.com
	signingkey = F86A39E8
[color]
	diff = auto
	status = auto
	branch = auto
	showbranch = auto
	grep = true
[format]
	signoff = true
[color "diff"]
	#func = magenta  # not supported by git <1.6
	meta = yellow
[core]
  excludesfile = ~/.cvsignore
  #autocrlf = input
  #s:fecrlf = true
	editor = vim
[github]
	user = dangra
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = dangra@gmail.com
	smtpserverport = 587
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[pull]
	ff = only
[init]
	defaultBranch = master

[includeIf "gitdir:~/flinks/"]
	path = ./.gitconfig-flinks
