[user]
	name = Daniel Graña
	email = dangra@gmail.com
	signingkey = F86A39E8
[color]
	diff = auto
	status = auto
	branch = auto
	showbranch = auto
	grep = true
[format]
	signoff = true
[color "diff"]
	#func = magenta  # not supported by git <1.6
	meta = yellow
[core]
    excludesfile = ~/.cvsignore
	autocrlf = input
	safecrlf = true
[github]
	user = dangra
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = dangra@gmail.com
	smtpserverport = 587
[push]
	default = upstream
